@font-face
  font-family 'icomoon'
  src url('../assets/fonts/icomoon/icomoon.eot?aids8e')
  src url('../assets/fonts/icomoon/icomoon.eot?aids8e#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon/icomoon.ttf?aids8e') format('truetype'),
    url('../assets/fonts/icomoon/icomoon.woff?aids8e') format('woff'),
    url('../assets/fonts/icomoon/icomoon.svg?aids8e#icomoon') format('svg')
  font-weight normal
  font-style normal
  font-display: fallback!important

.icomoon
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

[class^="icon-"]
[class*=" icon-"]
    &::before
        @extend .icomoon

.icon-clarification::before
    content '\e900'
.icon-cleaning::before
    content '\e901'
.icon-extraction::before
    content '\e904'
.icon-filtration::before
    content '\e905'
.icon-grinding::before
    content '\e906'
.icon-selection::before
    content '\e907'
.icon-separation::before
    content '\e908'
.icon-arrow-left::before
    content '\e909'
.icon-at-sign::before
    content '\e902'
.icon-award::before
    content '\e903'
.icon-check::before
    content '\e90b'
.icon-check-circle::before
    content '\e90c'
.icon-chevron-down::before
    content '\e90e'
.icon-chevron-left::before
    content '\e90f'
.icon-chevron-right::before
    content '\e910'
.icon-chevron-up::before
    content '\e911'
.icon-credit-card::before
    content '\e90a'
.icon-facebook::before
    content '\e925'
.icon-gift::before
    content '\e92a'
.icon-heart::before
    content '\e92d'
.icon-home::before
    content '\e92e'
.icon-instagram::before
    content '\e930'
.icon-remove::before
    content '\e938'
.icon-phone-call::before
    content '\e940'
.icon-add::before
    content '\e944'
.icon-search::before
    content '\e94b'
.icon-shield::before
    content '\e94f'
.icon-shopping-bag::before
    content '\e950'
.icon-shopping-cart::before
    content '\e951'
.icon-slack::before
    content '\e90d'
.icon-tag::before
    content '\e954'
.icon-truck::before
    content '\e95c'
.icon-twitter::before
    content '\e95d'
.icon-user::before
    content '\e912'
.icon-close::before
    content '\e963'
.ico-tanoili
  position absolute
  bottom 0
  margin-left 5px
  width 15px
